* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

header {
  display: flex;
  height: 61px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

header img {
  padding: 20px;
}

header img.icon {
  padding: 14px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
