:root {
  --line-borders: 1px solid #e6e6e6;
  --icons-padding: 33px 25px 33px 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Montserrat, sans serif;
}

.main-header {
  display: flex;
  height: 61px;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--line-borders);

  & img {
    padding: 20px;
  }

  & .icon {
    display: flex;
    align-items: center;
    border-right: var(--line-borders);
  }

  .brand-text {
    display: none;
  }

  & .icon-cart {
    display: flex;
    align-items: center;
    border-left: var(--line-borders);
  }

  & .icon-text {
    display: none;
  }

  @media (width > 600px) {
    height: 90px;
    font-weight: 600;

    & img {
      padding: 0;
    }

    & .icon {
      height: inherit;
      padding: var(--icons-padding);
    }

    & .icon-cart {
      height: inherit;
      padding: var(--icons-padding);
    }

    & .icon-text {
      margin-left: 10px;
      display: flex;
      text-transform: uppercase;
      color: #1f2c4d;
    }

    & .logo {
      display: flex;
      align-items: center;
    }

    & .brand-text {
      display: flex;
      color: #cf1e1f;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 45px 16px;

  @media (width >= 600px) {
    padding: 60px 149px;
  }
}
